doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if logged == false
      a(href="/fbauth") Login
    else
      p Hola #{username}
    block content